<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    <h2>Добро пожаловать в чат</h2>
    Что вы хотите сделать?<br>

    <!-- Кнопка для регистрации -->
    <form action="/chat/register/" method="GET" style="display:inline;">
        <input type="submit" value="Регистрация">
    </form>

    <!-- Кнопка для входа -->
    <form action="/chat/login/" method="GET" style="display:inline;">
        <input type="submit" value="Вход">
    </form>

    <hr>
</body>
</html>